#bandname {
	color: orange;
}
@font-face {
	font-family: ap;
	src: url('../swcguild/adventpro-light.ttf');
}
#container {
	height: 500px;
	width: 498px;
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/51RyENWbnyL.jpg");
    position: relative;
    left: 380px;
    top: 10px;

}
.headingAlign {
    text-align: center;
    font-family: ap
}
ul {
	font-family: ap
}
a:link {
	text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: #ffde00;
}
td {
	font-style: italic;
}
thead {
	background-color: grey;
}
tbody tr:nth-child(even) {
	background-color: #00de00;
}
tbody tr:nth-child(odd) {
	background-color: white;
}