#name {
	color: green;
	font-family: "msh";
}
#phone {
	color: blue;
}
@font-face {
	font-family: "msh";
	src: url("Milkshake.ttf");
}
h1 {
	font-family: msh;
}
#homecolor {
	background-color: #ff6
}
a:visited {
	color: green;
}
a:hover {
	font-weight: bold;
}
a:active {
	text-decoration: none;
}
#drinkmenu {
	text-align: center;
}
#drinkcap {
	font-family: msh;
	font-size: larger;
}
#menutext {
	text-align: center;
}
#menucolor {
	background-color: #ff6
}
.dish {
	font-family: msh;
}
#homecolor {
	background-color: #ff6
}
#homecontent {
	text-align: center;
}
.carousel .item {
  height: 300px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
#rollout {
	color: yellow
}

